:root {
  --gravity-font-family: 'Noto Sans', sans-serif;

  --gravity-text-01: #202020;
  --gravity-text-02: #595959;
  --gravity-text-03: #757575;
  --gravity-text-04: #989898;
  --gravity-text-10: #ffffff;
  --gravity-text-01-rgb: 32, 32, 32;
  --gravity-text-10-rgb: 255, 255, 255;

  --gravity-shadow-color: #000000;
  --gravity-shadow-01: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  --gravity-shadow-02: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  --gravity-shadow-03: 0 1px 6px 0 rgba(0, 0, 0, 0.18);
  --gravity-shadow-04: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  --gravity-shadow-05: 0 8px 24px 0 rgba(0, 0, 0, 0.2);

  --gravity-interactive-01: #007da3;
  --gravity-interactive-01-hover: #007092;
  --gravity-interactive-02: #006381;
  --gravity-interactive-02-hover: #005d79;

  --gravity-ui-01: #ffffff;
  --gravity-ui-02: #f9fafb;
  --gravity-ui-03: #f2f3f5;
  --gravity-ui-04: #ecedef;
  --gravity-ui-05: #e5e6e8;
  --gravity-ui-06: #c1c3c7;
  --gravity-ui-07: #a6a8ad;
  --gravity-ui-03-rgb: 242, 243, 245;

  --gravity-brand-1-100: #fdfefe;
  --gravity-brand-1-200: #ebf6f9;
  --gravity-brand-1-300: #cae6ee;
  --gravity-brand-1-400: #99cede;
  --gravity-brand-1-500: #46a6c4;
  --gravity-brand-1-600: #1a91b5;
  --gravity-brand-1-700: #0085ad;
  --gravity-brand-1-800: #006685;
  --gravity-brand-1-900: #00516a;
  --gravity-brand-1-700-rgb: 0, 133, 173;

  --gravity-brand-2-100: #fdfefe;
  --gravity-brand-2-200: #edf6f8;
  --gravity-brand-2-300: #c9e7e9;
  --gravity-brand-2-400: #96d0d4;
  --gravity-brand-2-500: #40a9b0;
  --gravity-brand-2-600: #12949d;
  --gravity-brand-2-700: #00a2ad;
  --gravity-brand-2-800: #00686f;
  --gravity-brand-2-900: #005459;
  --gravity-brand-2-700-rgb: 0, 162, 173;

  --gravity-neutral-100: #f2f2f2;
  --gravity-neutral-200: #f2f2f2;
  --gravity-neutral-300: #e1e1e1;
  --gravity-neutral-400: #c6c6c6;
  --gravity-neutral-500: #9b9b9b;
  --gravity-neutral-600: #868686;
  --gravity-neutral-700: #727272;
  --gravity-neutral-800: #5e5e5e;
  --gravity-neutral-900: #4b4b4b;
  --gravity-neutral-200-rgb: 242, 242, 242;
  --gravity-neutral-700-rgb: 114, 114, 114;

  --gravity-success-100: #e1ffe4;
  --gravity-success-300: #06d063;
  --gravity-success-500: #008f20;
  --gravity-success-700: #006416;
  --gravity-success-500-hover: #00831d;
  --gravity-success-700-hover: #005e15;
  --gravity-success-700-rgb: 0, 100, 22;

  --gravity-info-100: #e5f4f9;
  --gravity-info-300: #00afc7;
  --gravity-info-500: #007295;
  --gravity-info-700: #005a76;
  --gravity-info-500-hover: #006c8c;
  --gravity-info-700-hover: #005670;
  --gravity-info-700-rgb: 0, 90, 118;

  --gravity-warning-100: #fee5da;
  --gravity-warning-300: #ff8551;
  --gravity-warning-500: #c36631;
  --gravity-warning-700: #9a400d;
  --gravity-warning-500-hover: #bd5e28;
  --gravity-warning-700-hover: #923907;
  --gravity-warning-700-rgb: 154, 64, 13;

  --gravity-danger-100: #fee2e9;
  --gravity-danger-300: #d63d59;
  --gravity-danger-500: #aa243c;
  --gravity-danger-700: #7d0f23;
  --gravity-danger-500-hover: #a02037;
  --gravity-danger-700-hover: #720b1e;
  --gravity-danger-700-rgb: 125, 15, 35;

  --gravity-purple-100: #fae5fd;
  --gravity-purple-300: #ac4ed8;
  --gravity-purple-500: #863694;
  --gravity-purple-700: #641f70;
  --gravity-purple-500-hover: #80308e;
  --gravity-purple-700-hover: #5e1a68;
  --gravity-purple-700-rgb: 100, 31, 112;
}
