@import url(gravity-tokens.css);
@import url(tokens.css);
@import url(colors.module.css);
@import url(typography.module.css);
@import url(theme.light.css);

:root:root {
  --md-elevated-button-container-shape: 4px;
  --md-elevated-button-label-text-size: 14px;
  --md-elevated-button-label-text-weight: 600;
  --md-elevated-button-label-line-height: 16px;
  --md-elevated-button-leading-space: 16px;
  --md-elevated-button-trailing-space: 16px;
  --md-elevated-button-container-height: 36px;
  --md-elevated-button-container-color: var(--gravity-interactive-01);
  --md-elevated-button-hover-state-layer-color: var(--gravity-interactive-01-hover);
  --md-elevated-button-hover-state-layer-opacity: 1;
  --md-elevated-button-pressed-state-layer-color: var(--gravity-interactive-02);
  --md-elevated-button-pressed-state-layer-opacity: 1;
  --md-elevated-button-label-text-color: var(--gravity-text-10);
  --md-elevated-button-hover-label-text-color: var(--gravity-text-10);
  --md-elevated-button-pressed-label-text-color: var(--gravity-text-10);
  --md-elevated-button-focus-label-text-color: var(--gravity-text-10);
  --md-elevated-button-disabled-label-text-color: var(--gravity-text-04);
  --md-elevated-button-disabled-label-text-opacity: 1;
  --md-elevated-button-icon-color: var(--gravity-text-10);
  --md-elevated-button-hover-icon-color: var(--gravity-text-10);
  --md-elevated-button-pressed-icon-color: var(--gravity-text-10);
  --md-elevated-button-focus-icon-color: var(--gravity-text-10);

  --md-filled-button-container-shape: 4px;
  --md-filled-button-label-text-size: 14px;
  --md-filled-button-label-text-weight: 600;
  --md-filled-button-label-line-height: 16px;
  --md-filled-button-leading-space: 16px;
  --md-filled-button-trailing-space: 16px;
  --md-filled-button-container-height: 36px;
  --md-filled-button-container-color: var(--gravity-interactive-01);
  --md-filled-button-hover-state-layer-color: var(--gravity-interactive-01-hover);
  --md-filled-button-hover-state-layer-opacity: 1;
  --md-filled-button-pressed-state-layer-color: var(--gravity-interactive-02);
  --md-filled-button-pressed-state-layer-opacity: 1;
  --md-filled-button-label-text-color: var(--gravity-text-10);
  --md-filled-button-hover-label-text-color: var(--gravity-text-10);
  --md-filled-button-pressed-label-text-color: var(--gravity-text-10);
  --md-filled-button-focus-label-text-color: var(--gravity-text-10);
  --md-filled-button-disabled-label-text-color: var(--gravity-text-04);
  --md-filled-button-disabled-label-text-opacity: 1;
  --md-filled-button-icon-color: var(--gravity-text-10);
  --md-filled-button-hover-icon-color: var(--gravity-text-10);
  --md-filled-button-pressed-icon-color: var(--gravity-text-10);
  --md-filled-button-focus-icon-color: var(--gravity-text-10);

  --md-outlined-button-container-shape: 4px;
  --md-outlined-button-label-text-size: 14px;
  --md-outlined-button-label-text-weight: 600;
  --md-outlined-button-label-line-height: 16px;
  --md-outlined-button-leading-space: 16px;
  --md-outlined-button-trailing-space: 16px;
  --md-outlined-button-container-height: 36px;
  --md-outlined-button-hover-state-layer-color: var(--gravity-ui-03);
  --md-outlined-button-hover-state-layer-opacity: 1;
  --md-outlined-button-pressed-state-layer-color: var(--gravity-ui-05);
  --md-outlined-button-pressed-state-layer-opacity: 1;
  --md-outlined-button-label-text-color: var(--gravity-interactive-01);
  --md-outlined-button-hover-label-text-color: var(--gravity-interactive-01);
  --md-outlined-button-pressed-label-text-color: var(--gravity-interactive-01);
  --md-outlined-button-focus-label-text-color: var(--gravity-interactive-01);
  --md-outlined-button-disabled-label-text-color: var(--gravity-text-04);
  --md-outlined-button-disabled-label-text-opacity: 1;
  --md-outlined-button-icon-color: var(--gravity-interactive-01);
  --md-outlined-button-hover-icon-color: var(--gravity-interactive-01);
  --md-outlined-button-pressed-icon-color: var(--gravity-interactive-01);
  --md-outlined-button-focus-icon-color: var(--gravity-interactive-01);

  --md-text-button-container-shape: 4px;
  --md-text-button-label-text-size: 14px;
  --md-text-button-label-text-weight: 600;
  --md-text-button-label-line-height: 16px;
  --md-text-button-leading-space: 16px;
  --md-text-button-trailing-space: 16px;
  --md-text-button-container-height: 36px;
  --md-text-button-hover-state-layer-color: var(--gravity-ui-03);
  --md-text-button-hover-state-layer-opacity: 1;
  --md-text-button-pressed-state-layer-color: var(--gravity-ui-05);
  --md-text-button-pressed-state-layer-opacity: 1;
  --md-text-button-label-text-color: var(--gravity-interactive-01);
  --md-text-button-hover-label-text-color: var(--gravity-interactive-01);
  --md-text-button-pressed-label-text-color: var(--gravity-interactive-01);
  --md-text-button-focus-label-text-color: var(--gravity-interactive-01);
  --md-text-button-disabled-label-text-color: var(--gravity-text-04);
  --md-text-button-disabled-label-text-opacity: 1;
  --md-text-button-icon-color: var(--gravity-interactive-01);
  --md-text-button-hover-icon-color: var(--gravity-interactive-01);
  --md-text-button-pressed-icon-color: var(--gravity-interactive-01);
  --md-text-button-focus-icon-color: var(--gravity-interactive-01);

  --md-icon-button-icon-color: var(--gravity-text-03);
}
