//
// Copyright 2022 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use 'sass:list';
@use 'sass:map';
// go/keep-sorted end
// go/keep-sorted start
@use '../../tokens';
// go/keep-sorted end

@mixin theme($tokens) {
  $supported-tokens: tokens.$md-comp-elevation-supported-tokens;

  @each $token, $value in $tokens {
    @if list.index($supported-tokens, $token) == null {
      @error 'Token `#{$token}` is not a supported token.';
    }

    @if $value {
      --md-elevation-#{$token}: #{$value};
    }
  }
}

@mixin styles() {
  $tokens: tokens.md-comp-elevation-values();

  :host {
    @each $token, $value in $tokens {
      --_#{$token}: var(--md-elevation-#{$token}, #{$value});
    }

    display: flex;
    pointer-events: none;
  }

  :host,
  .shadow,
  .shadow::before {
    border-radius: inherit;
    inset: 0;
    position: absolute;
    transition-duration: inherit;
    transition-property: inherit;
    transition-timing-function: inherit;
  }

  .shadow::before {
    content: '';
    transition-property: box-shadow, opacity;
  }

  // Key box shadow
  .shadow::before {
    // level0: box-shadow: 0px 0px 0px 0px;
    // level1: box-shadow: 0px 1px 3px 0px; opacity: 0.15;
    // level2: box-shadow: 0px 1px 4px 0px; opacity: 0.15;
    // level3: box-shadow: 0px 1px 6px 0px; opacity: 0.18;
    // level4: box-shadow: 0px 4px 12px 0px; opacity: 0.15;
    // level5: box-shadow: 0px 8px 24px 0px; opacity: 0.2;

    $x: #{var(--_level)};

    $y: calc(max(4 * ($x - 3), min($x, 1)));
    $y-px: calc(1px * $y); // convert to px

    $blur: calc(3 * $x - min(-9 * ($x - min(4, $x * $x)), $x));
    $blur-px: calc(1px * $blur); // convert to px

    $opacity: calc((max(15 - ($x / (72778800 * ($x - 3) - 1)), $x * (-1 + $x))) / 100);

    box-shadow: 0px $y-px $blur-px 0px var(--_shadow-color);
    opacity: $opacity;
  }
}
